@use '../variables' as *;


.checkboxContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    gap: 8px;
    user-select: none;

    input {
      display: none;

    }

    .checkmark {
      height:16px;
      width:16px;
      border: 2px solid $neutral-30;
      display: inline-block;
      border-radius: 4px;
      position: relative;
    }

    input:checked + .checkmark {
      background-color: $primary-60;
      border-color: $primary-60;
    }

    input:checked + .checkmark::after {
      content: '';
      position: absolute;
      top: 1px;
      left: 6px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    .label {
      font-size: 16px;
      color: $neutral-90;
    }

    input:disabled + .checkmark {
      background-color: $neutral-30;
      border-color: $neutral-30;
      cursor: not-allowed;
    }
  }
