.multiselect__wrapper {
    width: fit-content;
    position: relative;
}

.multiselect__badge-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: auto;
    left: 5px;
    top: 2px;
    z-index: 100;
}

.multiselect__options{
    background-color: white;
    max-height: 200px;
    width: 358px;
    border: 1px solid red;
    overflow-y: auto;
    padding: 2px ;


}

.multiselect__option-item{
    cursor: pointer;
}